* {
	margin: 0 auto;
	padding: 0;
}
#principal {
	background-image: url(../img/bicycle-HD.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #faae27;
	text-shadow: 1px 1px black;
}
#map {
	width: 100%;
	height: 100vh;
	border: 2px dashed #faae27;
}
button {
	margin: 15px auto;
	padding: 10px 15px;
	color: white;
	background-color: #faae27;
	border: 0;
	font-weight: 700;
	border-radius: 5px;
	font-family: "Raleway";
	font-size: 15px;
	display: inline;
}
button:hover,button:focus {
	outline: 0;
}
.mapa {
	width: 100%;
	height: auto;
}
.datos {
	margin-top: 100px;
}